*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.45),rgba(0,0,0,0.35),rgba(0,0,0,0)),url(food01.jpg)no-repeat;
    background-size: cover;
    font-family:'Roboto',sans-serif;
    overflow-x: hidden;
}

.barmanu{
    width:99.86%;
    padding-top:40px;
    border:none solid black;
    background-color:#000;
    position: absolute;
    box-shadow:12px 20px 90px;
    opacity:0.9;

}

i{
    color: white;
    opacity: 0.6;
}
.icons{
    margin-left:10px;
    word-spacing:28px;
    position: absolute;
    top:25%;
    left: 2%;
}
i:hover{
    opacity:1;
    cursor: pointer;
}

ul{
    float: right;
}
.list{
    position: absolute;
    top:25%;
    left: 70%;
}
.list li{
    float: left;
    color: white;
    width:90px;
    text-align: center;
    font-weight: 100;
    opacity:0.6;
    list-style-type: none;
}
.list li:hover{
    opacity: 1;
    cursor: pointer;
}
i[class="fa fa-shopping-cart"]{
    font-size: 25px;
    margin-left: -4px;
    margin-top:-3px;
}

h2{
    width: 20px;
    height:20px;
    background:#ff4c4c;
    font-size: 13px;
    border-radius:20px;
    text-align: center;
    position: absolute;
    left:93.4%;
    top:2%;
    line-height:20px;
    color: white;
}

.dark{
    background:#000;
    width: 102%;
    height: 120%;
    position: absolute;
    top: 100%;
    opacity: 0.7;
    animation:2s dark none;
}
@keyframes dark{
    0%{
        transform: translateY(-60px);
        opacity: 0;
    }
    50%{
        transform: none;
        opacity: 0;
    }
    100%{
        transform: none;
        opacity: 0.7;
    }
}

.menu{
    position: absolute;
    top:120%;
    left: 2.5%;
    animation:2s menu none;
}
@keyframes menu{
    0%{
        transform:translate3dmatrix(200px);
        opacity: 0;
    }
    50%{
        transform: none;
        opacity: 0;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}

ul{
    float: left;
}
.m li{
    float: left;
    width: 100px;
    list-style-type: none;
    line-height:40px;
    text-transform: capitalize;
}
.m li a{
    text-decoration: none;
    color: white;
}
.m li a:hover{
    color:#ff4c4c;
}
font{
    color:#ff4c4c;
}
.sub{
    width:105px;
    background:#000;
    border-radius:5px;
    opacity: 0.7;
}
.sub:hover{
    opacity:1;
}

.sub li{
    color: white;
    line-height: 30px;
    padding: 10px;
    border-radius:5px;
    display: none;
}
ul li:hover ul li{
    display: block;
    cursor: pointer;
}

.sub li:hover{
    background-color:#ff4c4c;
    width:85px;
}

.cooker{
    opacity:0.6;
    margin-left:-40px;
}

.content{
    border:1px solid black;
    width: 550px;
    position: absolute;
    left:2%;
    top:490%;
    padding:20px;
    background:#000;
    opacity: 1;
    border-radius:15px;
    box-shadow:0px 40px 40px;
    animation:3s content none;
    
}

@keyframes content{
    0%{
        transform:translateY(80px);
        opacity:0;
    }
    50%{
        transform:translateY(80px);
        opacity: 0;
    }
    100%{
        transform:none;
        opacity:1;
    }
}

h1{
    position: absolute;
    top:10%;
    left: 50%;
    font-weight: 100;
    opacity: 0.8;
    color: white;
}

h4{
    position: absolute;
    top: 30%;
    left: 40%;
    width:320px;
    text-align: justify;
    text-transform: capitalize;
    color: white;
    font-weight: 100;
    line-height: 25px;
    letter-spacing:0.4px;
    opacity: 0.5;
}

button{
    position: absolute;
    top: 75%;
    left: 56%;
    padding: 10px;
    background:#ff4c4c;
    color: white;
    font-size:20px;
    font-weight: 100;
    border:none;
    font-family: 'Roboto',sans-serif;
    border-radius: 3px;
    outline:none;
}
button:hover{
    background-color: #ed5565;
    cursor: pointer;
}


























