*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0a183d;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}

.box{
    position: fixed;
    left: 0%;
    top: 5%;
}

.menu{
    border: 1px solid none;
    height: 80px;
    margin-top: -40px;
    background: #08192d;
}
ul{
    float:right;
    margin: 30px 230px;
}
ul li{
    float: left;
    margin: 0px 50px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
}
ul li a:hover{
    color:#fc0254;
}

.h{
    color: #979aa5;
}

span{
    color: white;
    margin: 0px 5px;
}

h4{
    position: absolute;
    left:80%;
    top:-20%;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}

.signUp{
    position: absolute;
    left: 87%;
    top:-20%;
    width: 200px;
    cursor: pointer;
}

h5{
    color:#fc0254;
    font-weight: 400;
    font-size: 16px;
    animation: 4s signUp none;
    text-transform: capitalize;
}
@keyframes signUp{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}
.symb{
    position: absolute;
    left:4%;
    top:-35%;
}

h2{
    text-transform: uppercase;
    color:white;
    font-weight: 600;
    font-size: 25px;
    animation: 2s text none;
}


font{
    color:#fc0254;
}

@keyframes text{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}

.image{
    position: absolute;
    left: 45%;
    top:100%;
    animation: 2s img none;
}

@keyframes img{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}

.contents{
    position: absolute;
    left:4%;
    top:450%;
    text-transform: capitalize;
    animation: 2s contents none;
    
}
h1{
    color:white;
    font-size: 50px;
    text-transform: capitalize;
}

@keyframes contents{
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: none;
        opacity: 1;
    }
}

h3{
    width: 600px;
    color:#979aa5;
    text-align: justify;
    font-weight: 400;
}

.buttons{
    position: absolute;
    top: 110%;
    
}

button{
    padding: 20px;
    border-radius: 60px;
    width: 200px;
    background:#fc0254;
    color:white;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    box-shadow: 0px 2px 10px #000;
}

.button02{
    padding: 20px;
    border-radius: 60px;
    width: 200px;
    background:#383b70;
    color:white;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    box-shadow: 0px 2px 10px #000;
    margin: 0px 20px;
}

button:hover{
    opacity: 0.8;
}



















